:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(240, 170, 170, 0.87);
  background-color: #242424;

}

* {
  margin: 0;
  padding: 0;
}